doctype html
html(lang="en")
  head
    title MindVision API Documentation
    link(rel="stylesheet" href="/css/style.css")

  body
    h1.api-title MindVision API Documentation

    h2 Base URL
    p All endpoints are prefixed with: 
      code http://localhost:5000/api

    h2 Authentication
    p Authentication is required for most API endpoints. Include a JWT token in the Authorization header:
    pre
      code
        | Authorization: Bearer your-token-here

    h2 Endpoints

    h3 Health Check
    .endpoint
      span.method.get GET
      code /
      p Returns the API health status.
      h4 Response
      pre
        code
          | "MindVision API is running..."

    h3 Authentication

    .endpoint
      span.method.post POST
      code /auth/register
      p Register a new user (coach or client)
      h4 Request Body
      table
        tr
          th Field
          th Type
          th Required
          th Description
        tr
          td name
          td string
          td Yes
          td User's full name
        tr
          td email
          td string
          td Yes
          td User's email address
        tr
          td password
          td string
          td Yes
          td User's password
        tr
          td role
          td string
          td Yes
          td "coach" or "client"
      h4 Response
      pre
        code
          | {
          |   "userId": "string",
          |   "token": "string",
          |   "role": "string"
          | }

    .endpoint
      span.method.post POST
      code /auth/login
      p Login with existing credentials
      h4 Request Body
      table
        tr
          th Field
          th Type
          th Required
          th Description
        tr
          td email
          td string
          td Yes
          td User's email address
        tr
          td password
          td string
          td Yes
          td User's password
      h4 Response
      pre
        code
          | {
          |   "userId": "string",
          |   "token": "string",
          |   "role": "string",
          |   "name": "string"
          | }

    h3 Sessions

    .endpoint
      span.method.get GET
      code /sessions/coach/:id
      p Retrieve sessions for a specific coach (Requires Authentication)
      h4 Response
      pre
        code
          | [
          |   {
          |     "_id": "string",
          |     "date": "date",
          |     "duration": "number",
          |     "clientId": {
          |       "name": "string",
          |       "_id": "string"
          |     },
          |     "status": "string"
          |   }
          | ]

    .endpoint
      span.method.get GET
      code /sessions/client/:id
      p Retrieve sessions for a specific client (Requires Authentication)
      h4 Response
      pre
        code
          | [
          |   {
          |     "_id": "string",
          |     "date": "date",
          |     "duration": "number",
          |     "coachId": {
          |       "name": "string",
          |       "_id": "string"
          |     },
          |     "status": "string"
          |   }
          | ]

    .endpoint
      span.method.post POST
      code /sessions
      p Create a new session booking (Requires Authentication)
      h4 Request Body
      table
        tr
          th Field
          th Type
          th Required
          th Description
        tr
          td date
          td date
          td Yes
          td Session date and time
        tr
          td duration
          td number
          td Yes
          td Session duration in minutes
        tr
          td coachId
          td string
          td Yes
          td ID of the coach
        tr
          td clientId
          td string
          td Yes
          td ID of the client
      h4 Response
      pre
        code
          | {
          |   "_id": "string",
          |   "date": "date",
          |   "duration": "number",
          |   "coachId": "string",
          |   "clientId": "string",
          |   "status": "string",
          |   "createdAt": "date"
          | }

    h3 Availability

    .endpoint
      span.method.post POST
      code /availability
      p Set coach availability (Requires Authentication)
      h4 Request Body
      table
        tr
          th Field
          th Type
          th Required
          th Description
        tr
          td coachId
          td string
          td Yes
          td ID of the coach
        tr
          td dates
          td array
          td Yes
          td Array of unavailable dates/times
      h4 Response
      pre
        code
          | {
          |   "_id": "string",
          |   "coachId": "string",
          |   "dates": ["date"],
          |   "createdAt": "date"
          | }

    .endpoint
      span.method.get GET
      code /availability/:coachId
      p Get coach availability (Requires Authentication)
      h4 Response
      pre
        code
          | {
          |   "_id": "string",
          |   "coachId": "string",
          |   "dates": ["date"],
          |   "createdAt": "date"
          | }

    h2 Error Responses
    p The API returns standard HTTP status codes and JSON error messages:
    pre
      code
        | {
        |   "message": "Error description"
        | }

    script(src="/js/main.js")